<h1>No Of Records: {{users.length}}</h1>
  <div class="search-results" scrollDir [scrollPercentage]=90>
    <div class="user" [ngClass]="{'active':user.active}" *ngFor="let user of users" (click)="userSelected(user)">
      <div>{{user.userName}}</div>
      <div>{{user.email}}</div>
      <div>{{user.mobile}}</div>
    </div>
  </div>
<div class="ag-holder">
  <ag-grid-angular 
    style="width: 500px; height: 500px;" 
    class="ag-theme-balham"
    [rowData]="users" 
    [columnDefs]="columnDefs"
    [enableSorting]="true"
    [enableFilter]="true"
    >
</ag-grid-angular>
</div>
  


