.user{
    border: 1px solid #786565;
    padding: 10px;
    margin-bottom: 10px;
}
.user.active{
    background:green;
}
.search-results {
    height: 400px;
    overflow-y: scroll;
    width:30%;
    float: left;
  }

  .ag-holder{
      width:70%;
      float:left;
  }
